:root {
  --main-color: #FF9800;
  --main-transation: 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.settings-box {
  position: fixed;
  background-color: #fff;
  width: 200px;
  min-height: 100vh;
  left: -200px;
  top: 0;
  z-index: 1000;
  transition: var(--main-transation);
}

.settings-box.open {
  left: 0;
}

.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.settings-box .toggle-settings i {
  padding: 5px 0;
  width: 30px;
}

.settings-box .option-box {
  padding: 10px;
  background-color: #eee;
  text-align: center;
  margin: 10px;
}

.settings-box .option-box h4 {
  color: #777;
  font-size: 14px;
}

.settings-box .option-box .colors-list {
  list-style: none;
  margin: 10px 0 0;
}

.settings-box .option-box .colors-list li {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #eee;
}

.settings-box .option-box .colors-list li.active {
  border-color: #fff;
}

.settings-box .option-box .colors-list li:first-child {
  background-color: #FF9800;
}

.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #E91E63;
}

.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}

.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03A9F4;
}

.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4CAF50;
}

.settings-box .random-backgrounds .yes,
.settings-box .random-backgrounds .no {
  width: 50px;
  display: inline-block;
  background-color: #009688;
  color: #fff;
  padding: 4px 10px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
  opacity: .5;
  cursor: pointer;
}

.settings-box .random-backgrounds span.active {
  opacity: 1;
}

.landing-page {
  background-image: url(../imgs/01.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.landing-page .header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  position: relative;
  z-index: 2;
}

.header-area .logo {
  width: 250px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.header-area .links {
  list-style: none;
  padding: 10px;
  display: flex;
}

.header-area .links li a {
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: var(--main-transation);
}

.header-area .links li a.active,
.header-area .links li a:hover {
  color: var(--main-color);
}

.landing-page .intro-text {
  color: #fff;
  width: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.landing-page .intro-text h1 {
  margin: 0 0 10px;
  font-size: 35px;
}

.landing-page .intro-text h1 span {
  color: var(--main-color);
}

.landing-page .intro-text p {
  line-height: 1.6;
  font-size: 20px;
}

@media (max-width: 576px) {
  .landing-page .intro-text h1 {
    font-size: 28px;
  }
  .landing-page .intro-text p {
    font-size: 18px;
  }
}

.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-us .info-box {
  padding: 30px;
  width: 500px;
}

.about-us .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us .info-box h2 {
  font-size: 35px;
  color: var(--main-color);
  font-weight: bold;
  margin: 0 0 10px;
}

.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
}

.about-us .image-box img {
  width: 250px;
}

.our-skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

.our-skills h2 {
  font-weight: bold;
  font-size: 35px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}

.our-skills .skill-box {
  margin-bottom: 10px;
}

.our-skills .skill-box .skill-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
}

.our-skills .skill-box .skill-name span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--main-color);
}

.our-skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.our-skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width var(--main-transation);
}